<!-- 
<div class="col-md-6">
    <h2 class="text-center">Add Picture</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="name">Category : </label>
            <input formControlName="name" placeholder="Name" name="name" class="form-control" id="name">
          </div>
      
        <div class="form-group">
        <label for="detail">Caption : </label>
        <input type="detail" formControlName="detail" placeholder="Detail" name="detail" class="form-control" id="detail">
      </div>

      <div class="form-group">
        <label for="camera">Camera : </label>
        <input type="camera" formControlName="camera" placeholder="Camera" name="camera" class="form-control" id="camera">
      </div>
  
  
      <button class="btn btn-success">Update</button>
    </form>
  </div>
   -->



   <h2>Add new Picture</h2>
    
    <form #pictureFrom = "ngForm" (submit)= "SubmitAdd(pictureFrom)" class="needs-validation" novalidate>

    <div class="form-group">
      <label for="name" class="col-form-label">Category :</label>
      <input [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)}" #name="ngModel" ngModel name="name" type="text" class="form-control" id="name" required>
      <div class="invalid-feedback">
        <span> ***</span>
      </div>
    </div>

    <div class="form-group">
      <label for="detail" class="col-form-label">Caption :</label>
      <input  [ngClass]="{'is-invalid': detail.invalid && (detail.dirty || detail.touched)}" #detail ="ngModel" ngModel name="detail" type="text" class="form-control" id="detail" required>
      <div class="invalid-feedback">
        <span>***</span>
      </div>
    </div>

    <div class="form-group">
      <label for="camera" class="col-form-label">Camera :</label>
      <input [ngClass]="{'is-invalid': camera.invalid && (camera.dirty || camera.touched)}" #camera="ngModel" ngModel name="camera" type="text" class="form-control" id="camera">
    </div>


        <button class="btn btn-secondary" type="submit">Update</button>

   </form>


