<!-- 

<div id="search-component">
  <h4><label for="search-box">Picture Search</label></h4>

  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let picture of pictures$ | async" >
      <a routerLink="/pictures/{{picture.id}}">
        {{picture.name}}
      </a>
    </li>
  </ul>
</div> -->