<div class="col-md-6">
    <h2 class="text-center">Edit detail</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      
        <div class="form-group">
            <label for="name">Category : </label>
            <input formControlName="name" placeholder="Name" name="name" class="form-control" id="name">
          </div>
      
        <div class="form-group">
        <label for="detail">Caption : </label>
        <input type="detail" formControlName="detail" placeholder="Detail" name="detail" class="form-control" id="detail">
      </div>

      
      <div class="form-group">
        <label for="camera">Camera : </label>
        <input type="camera" formControlName="camera" placeholder="Camera" name="camera" class="form-control" id="camera">
      </div>
  
 
      <button class="btn btn-success">Update</button>
    </form>
  </div>