<app-top-bar></app-top-bar>

<h1>{{title}}</h1>  <!-- เพิ่ม -->
<nav>
    <a routerLink="/pictures">Gallery</a> 
        <a routerLink="/dashboard">Special Picture</a> 
 
</nav>
 




 

<div class="container">
  <router-outlet></router-outlet>
</div>



<!-- <app-messages></app-messages> -->
<!--<div class="container">
    <router-outlet></router-outlet>
</div>
  -->

  <!-- nav -->
<!-- <nav class="" *ngIf="currentUser">
  <div class="">
    
     <a class="nav-item nav-link" routerLink="/">Home</a>
     
 <a class="nav-item nav-link" (click)="logout()">Logout</a>  
  </div>
</nav> -->







<!-- main content container -->
      <!-- <div class="row">
          <div class="col-sm-8 offset-sm-2">
              <alert></alert>

              <router-outlet></router-outlet>
          </div>
      </div> -->
  

<!--<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 offset-sm-2">
              <alert></alert>

              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>
  -->
