/* DashboardComponent's private CSS styles */
 [class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
  a {
    text-decoration: none;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h3 {
    text-align: center;
    margin-bottom: 0;
  }
  h4 {
    position: relative;
  }
  .grid {
    margin: 0;
  }
  .col-1-4 {
    width: 25%;
  }
  .module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #3f525c;
    border-radius: 2px;
  }
  .module:hover {
    background-color: #EEE;
    cursor: pointer;
    color: #607d8b;
  }
  .grid-pad {
    padding: 10px 0;
  }
  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
  }
  @media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
  }
  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
  }
   

  div.card.mb-4.shadow-sm {
    width: 350px;
    margin-left: -70px;
  }
 
   div.card.mb-4.shadow-sm2 {
    width: 350px;
  margin-left: -25px;
   } 

  div.card.mb-4.shadow-sm3 {
    width: 350px;
    margin-left: 20px;
  } 

 
 /*   div.jumbotron.p-4.p-md-5.text-white.rounded.bg-dark {
     height: 500px;
     width: 1500px;
     margin-left: -245px;
   }


   div.position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center.bg-light {
     height: 1000px;
     width: 1200px;
     margin-right: 100px;
   } */


   div.container{
     margin-top: 30px;
   }

   h3 {
     margin-top: 30px;
   }