<h3>Special Picture</h3>

<!-- 
<div class="grid grid-pad">
  <a *ngFor="let picture of pictures" class="col-1-4">
    <div class="module picture">
    </div>
  </a>
</div>
 
 -->





<!--  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
  </div>
</div>
 -->

 <!-- <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">


</div> -->

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img [src]=myimage50 width="350"  role="img" aria-label="Placeholder: Thumbnail" >  
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
            </div>
            <small class="text-muted">#Special.picture</small>
            
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card mb-4 shadow-sm2">
        <img [src]=myimage1 width="350"  role="img" aria-label="Placeholder: Thumbnail" >  
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
            
            </div>
            <small class="text-muted">#Special.picture</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm3">
        <img [src]=myimage2 width="350" role="img" aria-label="Placeholder: Thumbnail" >  
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
             
            </div>
            <small class="text-muted">#Special.picture</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img [src]=myimage4 width="350"  role="img" aria-label="Placeholder: Thumbnail" >  
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
        <!--       <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
            </div>
            <small class="text-muted">#Special.picture</small>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card mb-4 shadow-sm2">
        <img [src]=myimage53 width="350"  role="img" aria-label="Placeholder: Thumbnail" >  
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
       <!--        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
            </div>
            <small class="text-muted">#Special.picture</small>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card mb-4 shadow-sm3">
        <img [src]=myimage3 width="350"  role="img" aria-label="Placeholder: Thumbnail" >  
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
        <!--       <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
            </div>
            <small class="text-muted">#Special.picture</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img [src]=myimage54 width="350"  role="img" aria-label="Placeholder: Thumbnail" >  
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
            <!--   <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
            </div>
            <small class="text-muted">#Special.picture</small>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-4">
      <div class="card mb-4 shadow-sm2">

        <img [src]=myimage5 width="350" role="img" aria-label="Placeholder: Thumbnail" >  

        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
             
            </div>
            <small class="text-muted">#Special.picture</small>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-4">
      <div class="card mb-4 shadow-sm3">
        <img [src]=myimage52 width="350"  role="img" aria-label="Placeholder: Thumbnail" >  
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
            
            </div>
            <small class="text-muted">#Special.picture</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>