/* Global Styles */







input{
  font-size: 14px;  /* ขนาดของที่กรอกของ log-in,register*/
  border-radius: 2px;
  padding: 2px;
  margin-bottom: 15px;
  border: 2px solid #bdbdbd;
}

lable {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

 
.button,button{     /* ของ register,Login */
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;  /* กว้าง-ยาว ของขนาดปุ่ม */
  border-radius: 2px;  /* โค้งๆ */
  font-size: 14px;   /* ปุ่มข้างใน */
  cursor:pointer;
  background: #1976d2;
  color: white;
  border: none
}


button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
  
}




/* Navigation link styles */
nav a {

  text-decoration: none;
  margin-right: -10px;  /* ความห่างของ Dash-Heros */
  margin-top: 20px;
  margin-left: 30px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
  font-weight:lighter;  /* ความหนาตรงตัวนสชื่อแทป */
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


/* nav b {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav b:visited, b:link {
  color: #607D8B;
}
nav b:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav b.active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
 */






h5 {
  font-size: 30px;
  font-weight: lighter;
}

h4 {
font-size: 20px;   /* ขนาดในสี่เหลี่ยม Top.picture */
font-weight: lighter;
}

.fancy-button{
  background-color: white;
  color: #1976d2;
  
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}


.fancy-button i.material-icons {  /*ที่ใส่เพิ่ม*/
  color: #1976d2;
  padding-right: 4px;
}


a{
  margin-right: 15px;

     /* ขยับปุ่ม login */
}



a:hover {  /* ตอนชี้ปุ่ม */
  opacity: 0.8;
  

  
}


b{
  margin: 18px;  /* ความห่างของปุ่ม Regis-Login */
  margin-top: 29px;
}

b:hover { 
  opacity: 0.8;
  
}




app-top-bar {  /*ทำแถบข้างบน*/
  width: 100%;
  height: 80px; /* ขนาดแถบ top-bar */
  background-color: #369;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

app-top-bar h5{  /*เปลี่ยนตัวหนังสือด้านบนเป็นสีขาว*/
  color: white;
  margin: 10px;  /* ขยับ homepage */
  font-size: 30px;
  font-weight: bold;

}




a.button.fancy-button{
  font-weight: bold;
}



b.button.fancy-button{
  font-weight: bold;
}
 

div.jumbotron {
  display: ruby-base-container;
}








 