/* HeroDetailComponent's private CSS styles */



h2{
  margin-top: 30px;
  margin-left: 410px;
  font-size: 36px;


}


/* h6{
  margin-top: 30px;
  margin-left: 500px;
  font-size: 30px;
}


 


div.card.mb-4.shadow-sm {   ขยับทั้งสองรูป 
  width: 500px;   กรอบ 

}
  */


  /* div.d-flex.justify-content-between.align-items-center {
  width: 550px;  
  margin-left: 500px;   
  margin-top: 30px;
}

  div.card-body1 {
    width: 550px;  
    margin-left: 500px;   
    margin-top: 30px;
  }

    p.detail {
      width: 550px;  
      margin-left: 500px;   
      margin-top: 30px;
    }

    p.name {
      width: 550px;  
      margin-left: 500px; 
      margin-top: 30px;
    } */



 
  div.card.mb-4.shadow-sm.c{
    width: 750px;  
    margin-left: 120.9px;   /* -150 ซ้าย */
    margin-top: 30px;
  
  }

  div.card-body {
    width: 750px;  
 font-size: 16px;
  
  }



 

 




  a{
  margin-left: -135px;
  }



  div.bg{

    width: 1500px;
    height: 1500px;
  }