<h2>My Album</h2>

<!-- <ul class="pictures">
  <li *ngFor="let picture of pictures">
    <a routerLink="/detail/{{picture.id}}">
      <span class="badge">{{picture.id}}</span> {{picture.name}}
    </a>
    <button class="delete" title="delete picture"
      (click)="delete(picture)">x</button>
  </li>




<div>
  <p>
  <label>Album name:
    <input #pictureName />
  </label></p>
  <div class="addd">
   
  <button (click)="add(pictureName.value); pictureName.value='   '">
    add
  </button></div>
</div>

  --> 


 <h6></h6>


  <a [routerLink] = "['/add-picture']" class = "btn btn-outline-info" >
    Add Picture

  </a>
 




<div class="pictures">
  <div *ngFor="let picture of pictures" class="image">
  <div class="card-grid">
  <div class="card-img" >
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm c">
            <div *ngIf="picture.id == 1">
              <img [src]=myimage1 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>

            <div *ngIf="picture.id == 2">
              <img [src]=myimage2 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 3">
              <img [src]=myimage3 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 4">
              <img [src]=myimage4 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 5">
              <img [src]=myimage5 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 6">
              <img [src]=myimage6 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 7">
              <img [src]=myimage7 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 8">
              <img [src]=myimage8 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>

            <div *ngIf="picture.id == 9">
              <img [src]=myimage9 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 10">
              <img [src]=myimage10 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 11">
              <img [src]=myimage11 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 12">
              <img [src]=myimage12 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 13">
              <img [src]=myimage13 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 14">
              <img [src]=myimage14 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 15">
              <img [src]=myimage15 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 16">
              <img [src]=myimage16 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>

            <div *ngIf="picture.id == 17">
              <img [src]=myimage17 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 18">
              <img [src]=myimage18 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 19">
              <img [src]=myimage19 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 20">
              <img [src]=myimage20 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
      
            <div *ngIf="picture.id == 21">
              <img [src]=myimage21 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 22">
              <img [src]=myimage22 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
        
            <div *ngIf="picture.id == 23">
              <img [src]=myimage23 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 24">
              <img [src]=myimage24 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 25">
              <img [src]=myimage25 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>

          

            <div *ngIf="picture.id == 26">
              <img [src]=myimage26 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 27">
              <img [src]=myimage27 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 28">
              <img [src]=myimage28 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
        
            <div *ngIf="picture.id == 29">
              <img [src]=myimage29 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 30">
              <img [src]=myimage30 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>

            <div *ngIf="picture.id == 31">
              <img [src]=myimage31 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 32">
              <img [src]=myimage32 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
        
            <div *ngIf="picture.id == 33">
              <img [src]=myimage33 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 34">
              <img [src]=myimage34 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 35">
              <img [src]=myimage35 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>

            <div *ngIf="picture.id == 37">
              <img [src]=myimage37 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
            <div *ngIf="picture.id == 38">
              <img [src]=myimage38 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
        
            <div *ngIf="picture.id == 36">
              <img [src]=myimage36 width="750"  role="img" aria-label="Placeholder: Thumbnail" >  
            </div>
      

              <div class="card-body">
              <p class="name">Category : {{picture.name}}</p>
              <p class="detail">Caption : {{picture.detail}}</p>
              <p class="camera">Camera : {{picture.camera}}</p>
              

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                  <button class="btn btn-outline-secondary "(click)="editPicture(picture)" >
                    Edit
                  </button>

                  <button class="btn btn-outline-danger" title="delete picture"
                  (click)="delete(picture)">Delete</button>
                 
                 

                 
                
                </div>
              </div>
            </div>


          </div>


        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>




