input#inputFirstname.form-control {
    width: 300px;
    height: 46px;
    margin-left: 405px;

}



input#inputLastname.form-control {
    width: 300px;
    height: 46px;
    margin-left: 405px;

}

input#inputEmail.form-control {
    width: 300px;
    height: 46px;
    margin-left: 405px;
}


input#inputPassword.form-control {
    width: 300px;
    height: 46px;
    margin-left: 405px;

}



input#inputUsername.form-control {
    width: 300px;
    height: 46px;
    margin-left: 405px;
}


input#inputComfirmpassword.form-control {
    width: 300px;
    height: 46px;
    margin-left: 405px;

}





.mb-4{  /* login */
    margin-top: 25px;

}

div.checkbox.mb-3 {
    margin-top: 20px;
}

button.btn.btn-lg.btn-primary.btn-block  {
    width: 300px;
    height: 46px;
    margin-left: 405px; 
    background-color:#4682B4;




}