/* li{
    margin-right: 30px;
    margin-top: 15px;
}
 */


li.button.fancy-button {
    margin-left: -18px;  
    margin-top: 8px;

}

a.nav-link{
    font-weight: bold;

  }
  
 
  
  a.nav-link{
    font-weight: bold;

  }

 
  .button.fancy-button {
    font-weight: bold;
    display: inline-flex;
     padding: 6px 16px;  /* กว้าง-ยาว ของขนาดปุ่ม */
     border-radius: 2px;  /* โค้งๆ */
     font-size: 14px;   /* ปุ่มข้างใน */
    cursor:pointer;
 /*    color: #1976d2; */
   color: #369;


}


  b{
      color: #369;
  }




  
  b:hover {  /* ตอนชี้ปุ่ม */
    opacity: 0.8;
    
  
    
  }
  
 
a{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  

}
 



 

  





  div#app{
      margin-top: 10px;
  }