<a [routerLink]="['/pictures']">
    <h5>HOME PAGE</h5>

</a>



<!-- <p>

        <b  [routerLink]="['/register']" class="button fancy-button">
                <i class="material-icons">assignment</i> Register


        </b>


        <a [routerLink]="['/login']" class="button fancy-button">
                <i class="material-icons">supervisor_account</i>Login


        </a>    
          

</p> -->

<div id="app">
          <ul *ngIf="!isLoggedIn">
        <b>          
            <li class="button fancy-button">
              <a href="/register" class="" routerLink="register">
                <i class="material-icons">assignment</i>Register
              </a>
            </li>
        </b>

        <b>
            <li class="button fancy-button">
              <a href="/login" class="" routerLink="login">
              <i class="material-icons">supervisor_account</i>Login
            </a>
            </li>
        </b>
          </ul>


          
          <ul  *ngIf="isLoggedIn">
                
            <li class="button fancy-button">
              <a href="/profile" class="" routerLink="profile">{{ username }}</a>
              <i class="material-icons">person</i>

            </li>
            <li class="button fancy-button">
              <a href class="" (click)="logout()">logout</a>
              <i class="material-icons">lock_open</i>


            </li>

            
          </ul>
</div>  




<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
        <ul class="navbar-nav ml-auto" *ngIf="!loginForm">
        <li class="nav-item">
                <b  [routerLink]="['/register']" class="button fancy-button">
                <i class="material-icons">assignment</i> Register</b>
        </li>   

        <li class="nav-item">
                   <a [routerLink]="['/login']" class="button fancy-button">
                          <i class="material-icons">supervisor_account</i>Login
                  </a>
        </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
                <li class="nav-item">

                </li>

                <li class="nav-item">
                         <a [routerLink]="['/logout']" class="button fancy-button">
                        <i class="material-icons">supervisor_account</i>Logout
        
        
                         </a>       
                   
                </li>
        </ul>
   
      </nav> -->
